#cabecera{
position: absolute;
width: 99%;
height: 150px;
}
#titulo{
position: absolute;
font-size: 25;
text-align: center;
width:99%;
height: 30px; 
border:solid gray 1px;
top:200;
}
.img-cabecera1{
   float: left;
   margin-left: 50px;
   width: 300px;
   height: 150px; 
}
.img-cabecera2{
    float: right;
    margin-right: 50px;
    width: 300px;
    height: 150px; 
 }
 input {
     height: 30;
     margin-left: 5;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0.5px solid black ;
 }
 form#primero{
     position: absolute;
     left:45;   
     top:300;
 }
 form#segundo{
    position: absolute;
    left:45;   
    top:500;
}
 label{
     color: white;
     margin-right: 15px;
     margin-left: 30px;
 }
 .content-form{
     float: left;
     width: 250px;
     height: 51px;
     margin-right: 5px;
     border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid black;
 }
 form#primero{
     border: solid black 1px;
     position: absolute;
     right: 30;
     background-color:brown;
 }
 form#edicion{
    border: solid black 1px;
    position: absolute;
    top:300;
    left: 50;
    background-color:brown;
}
 form#segundo{
    border: solid black 1px;
    position: absolute;
    right: 30;
    background-color:brown;

}
 #enviar{
     float: right;
     margin-top: 10px;
     margin-right: 10px;
     border: solid green 1px;
 }