@font-face {
    font-family: "anime";
    src: url("../view/fonts/anime.ttf");
} 
a:active, a:active * { outline: none !important; -moz-outline-style: none !important; }
a:focus, a:focus * { outline: none !important; -moz-outline-style: none !important; }
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
        border: none;
}
strong{
    color: #ff4b4b;
}
.anime{
    font-family: 'anime';
}
body{
    z-index: 4;
    background-color: #dddddd;
}
#contenedor-wallpaper{
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    height: 300px;
    
}

#contenedor-wallpaper > img{
    position: absolute;
    left: 0;
    width: 100%;
    height: 150%;
}
#imagen-perfil{
    float: left;
    border-radius: 200px 200px 200px 200px;
    position: relative;
    z-index: 4;
    width: 100px;
    height: 100px;
    left: calc(50% - 50px);
    top: 190px;
}
#imagen-perfil >  img{
    width: 100%;
    height: 100%;
    z-index: 5;
    border-radius: 200px 200px 200px 200px;
    border:solid 2px #2b2b2b;
}

#nick-usuario{
    float: left;
    font-family: 'anime';
    position: relative;
    height: 100px;
    top: 190px;
    left: calc(50% - 20px);
    font-size: 30;
    color: white;
    font-weight: bold;
}
#contenedor-perfil{
    position: relative;
    width: 100%;
    display: grid;
    margin-top: 15px;
    grid-gap: 10px;
    background-color: white;
    grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
    grid-auto-rows: 230px 200px;
}
#contenedor-perfil > div{
    object-fit: cover;
}
.item-menu{
    text-align: center;
    margin-top: 40px;
    height: 50px;
    width: 100%;
    background-color: white;
    border-radius: 28px 0px 0px 30px;
}
.item-menu:hover{
    transition: 1s;
    color:#ff4b4b;
}
.item-menu > i,button{
    margin-top: 13px;
}
.item-menu > button{
    background-color: white;
    border:0;
}
.item-menu > button:hover{
    transition: 1s;
    color:#ff4b4b;
}
.item-menu > i{
    font-size: 20;
}
.item-main{
    width: 100%;
    height: 400px;
}
.active{
    display: initial;
}
.no-active{
    display: none;
}
.titulo{
    font-family: 'anime';
    color: #ff4b4b;
    font-size: 24;
    text-align: center;
    border-bottom: #dddddd solid 0.5px;
}

#tabla-amigos{
    width: 100%;
    font-family: Roboto,Helvetica Neue,sans-serif;
}
.box-user input{
    margin-top: 15px;
    height: 25px;
    background-color: #ff4b4b;
    color:white;
    border-radius: 200px 200px 200px 200px;
}
.login-user{
    color: #ff4b4b;
    font-size: 20;
    
}
.item-info{
    border:solid 4px #dddddd;
    width: 100%;
    height: 400px;
}
#añadir-amigo{
    position: relative;
    left:calc(50% - 50px);
    top:10px;
    background-color: #ff4b4b;
    color: white;
    width: 100px;
    height:100px;
    font-size: 15px;
    border-radius: 10px 10px 10px 10px;
}
#añadir-amigo > i{
    font-size: 30px;
}
#borrar-amigo{
    position: relative;
    left:calc(50% - 50px);
    top:10px;
    background-color: #ff4b4b;
    color: white;
    width: 100px;
    height:100px;
    font-size: 15px;
    border-radius: 10px 10px 10px 10px;
}
#borrar-amigo > i{
    font-size: 30px;
}
#control-friends{
    position: relative;
    width: 100%;
    height: 100px;
}
#control-friends > button{
    width: 80px;
    height: 80px;
}

.menu-perfil{
    padding-left: 250px;
    background-color: #dddddd;
}
.main-perfil{
}
.info-perfil{
}
#popup {
    visibility: hidden;
    opacity: 0;
    margin-top: -300px;
 }
 #popup:target {
    visibility:visible;
    opacity: 1;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:0;
    z-index: 999;
    transition:all 1s;
 }
 .popup-contenedor {
    position: relative;
    margin:7% auto;
    padding:30px 50px;
    background-color: #fafafa;
    color:#333;
    border-radius: 3px;
    width:50%;
 }
 a.popup-cerrar {
    position: absolute;
    top:3px;
    right:3px;
    background-color: #333;
    padding:7px 10px;
    font-size: 20px;
    text-decoration: none;
    line-height: 1;
    color:#fff;
 }
 .popup-link{
     font-size: 15;
     color:white;
 }
 .explicacion{
     font-family: Arial, Helvetica, sans-serif;
     font-size: 15;
     color:#818181;
 }
 #animes{
     
 }
 #contenedor-anime{
    font-family: open sans,sans-serif;
    position: relative;
    width: 100%;
    display: grid;
    margin-top: 15px;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
    grid-auto-rows: 230px 200px;
    
}
.main-anime{
    height: 100%;
}
#imagen-anime{
    position: relative;
    z-index: 9;
    background-color: white;
    margin:0 auto;
    top: -100px;
    width: 60%;
    height: 300px;
    border-radius: 10px 10px 10px 10px;
}
#imagen-anime > img{
    position: absolute;
    padding: 5%;
    width: 90%;
    height: 90%;
}
.info-anime{
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 5px 5px 5px 5px;
    background-color: white;
}
#categoria-anime{
    text-align: center;
    color: #ff4b4b;
    font-weight: bold;
}
#descripcion-anime{
    font-size: 15;
    color:#818181;
}
.panel-main{
    position: relative;
    z-index: 9;
    margin:0 auto;
    top: -90px;
    width: 60%;
}
.panel-main > button{
    padding: 2%;
    border:0;
    float: right;
    font-size: 30;
    border-radius: 5px 5px 5px 5px;
    background-color: white;
}
.seleccion-fav{
    display: none;
}
.seleccion-fav:hover{
    color:#ff4b4b;
}
.seleccion-fav > label{
    font-size: 15;
}
.box-anime{
    position: relative;
    float: left;
    padding: 5%;
    width: 120px;
    height: 120px;
    border-radius: 27px 27px 27px 27px;
}
.box-anime > img {
    width: 100%;
    height: 100%;
    border-radius: 27px 27px 27px 27px;
}
.foro-anime{
    padding-left: 2%;
    padding-bottom: 3%;
    padding-right: 2%;
    width: 80%;
    margin:0 auto;
    margin-bottom: 50px;
    border-radius: 5px 5px 5px 5px;
    background-color: white;
    font-family: ProximaNova,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
#descripcion-foro{
    position: relative;
    height: 40px;
    background-color: white;
    border-bottom: 0.5px #dddddd solid;
}
#addMensaje{
    float: right;
    border:0;
    margin-top:-5px;
    width: 200px;
    line-height: 30px;
    background-color: #ff4b4b;
    color: white;
    font-size: 15;
    border-radius: 5px 5px 5px 5px;
}
#addMensaje > label{
    padding: 1%;
}
#addMensaje > i {
    font-size: 20;
    padding: 1%;
    padding-right: 10px;
}
#contenedor-mensajes{
    
    border-bottom: 0.5px #dddddd solid;
}
.mensaje{
    margin-top: 15px;
    border-bottom: 0.5px #dddddd solid;
}
.respuesta{
    margin-top: 15px;
    padding-bottom: 10px;
}
.respuesta .post-img{
    padding-right: 30px;
    
}
.post-img{
    float: left;
    padding-right: 30px;
    width: 64px;
    height: 64px;
}
.post-img > img{
    border-radius: 16px 16px 16px 16px;
    width: 100%;
    height: 100%; 
}
a >img{
    border-radius: 16px 16px 16px 16px;
    width: 100%;
    height: 100%;
}
.post-body{
   margin-left: 76px; 
}
.post-name{
    font-size: 14px;
    font-weight: 700;
    color: #ff4b4b;
    margin-right: 3px;
    display: inline-block;
    line-height: 1.2;
}
.user-card{
    text-decoration: none;
    color: #ff4b4b;
}
.rd{
    color: #818181;
    line-height: 1.2;
    margin-left: 50px;;
}
.respuestas{
    margin-left: 76px; 
    margin-top: 15px;
    padding-top: 10px;
}
#escribir-mensaje{
    
    border-radius: 5px;
    position: absolute;
    right: 0;
    top:50px;
    background-color: #ff4b4b;
    color: floralwhite;
    padding: 10px;
    width: 240px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
#envio-mensaje > textarea{
    margin-left: 10px;
    width: 220px;
    height: 110px;
    resize:none
}

#envio-mensaje > input{
    border: 1px solid white;
    width: 150px;
    margin-left: 45px;
    margin-top: 10px;
    font-family: "anime";
    background-color: #ff3535;
    color:white;
}
#escribir-mensaje:before{
    content:"";
    width: 0;
    height: 0;
    position: absolute;
    margin: -30px 0 0 100px;
    border-bottom: 20px solid #ff4b4b;
    border-right: 18px solid transparent;
    border-left: 18px solid transparent;
}
.oculto{
    transition: all;
    transition-duration: 1s;
    display: none;
}
.no-oculto{
    transition: all;
    transition-duration: 1s;
    display: inline;
}
.post-name > button{
    background-color: #ff4b4b;
    color:white;
    font-size: 12px;
    margin-left: 50px;
}
.post-name > div{
    position: absolute;
    background-color: #ff4b4b;
    width: 300px;
    height: 90px;
    margin-left: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
#banner-usuario{
    z-index: -1;
}
.post-name > div:before{
    content:"";
    width: 0;
    height: 0;
    position: absolute;
    margin: 0 0 0 -38px;
    border-bottom: 18px solid transparent;
    border-right: 20px solid #ff4b4b;
    border-top: 18px solid transparent;
    border-left: 18px solid transparent;
}
.enviar-respuesta > h3{
    position: absolute;
    top: -8px;
    left: 10px;
    color: white;
}
.enviar-respuesta > form > textarea{
    margin-left: 10px;
    margin-top:34px; 
    width: 200px;
    height: 50px;
    resize:none
}
.enviar-respuesta > form > input{
    position: absolute;
    top: 50px;
    left: 215px;
    border: 1px solid white;
    font-family: "anime";
    background-color: #ff3535;
    color:white;
}

#presentacion-listado{
    line-height: 7px;
}
#presentacion-listado > i{
    float: left;
    color:  #ff4b4b;
    font-size: 30px;
    padding: 1%;
}
#presentacion-listado > h2{
    float: left;
    font-weight: 100;
    margin-left: 20px;
    color: #ff4b4b;
    font-size: 30px;
}
#content-animes{
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    height: auto;
    border:solid 1px #ff4b4b;
    background-color: #2b2b2b;
}
.boxList{
    position: relative;
    margin: 0 auto;
    width: 90%;
    height: 150px;
    border:solid 1px white;
}
.box-img{
    float: left;
    margin:2%;
    width: 120px;
    height: 120px;
}
.box-descripcion{
    float: left;
    margin:2%;
    width: 70%;
    height: 120px;
    border: solid 1px white;
}
.box-img > img{
    width: 100%;
    height: 100%;
}
.box-titulo{
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    height: 30px;
    border:solid 1px white;
}
.box-sinopsis{
    position: relative;
    width: 100%;
    height: calc(100% - 30px);
    font-size: 12px;
}
.box-sinopsis > p{
    padding-left: 2%;
    padding-right: 2%;
    color: white;
}
#sobreMi{
    position: relative;
    width: 100%;
    height: 200px;
    
}
#sobreMi > h2{
    color: #ff4b4b;
    text-align: center;
    border-bottom: solid 1px #dddddd;
}
#sobreMi > div{
    position: relative;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    width: 100%;
}
#nombre-usuario{
    margin-left: 10px;
}
.cambio > button{
    color: white;
    height: 40px;
    width: 230px;
    background-color: #ff4b4b;
    border:solid 1px #ff4b4b;
    
}
.cambio > input{
    color: #ff4b4b;
    height: 40px;
    width: 220px;
    border:solid 1px #ff4b4b;
    font-weight: 200;
}
#result-descripcion{
    position: absolute;
    border:solid 1px #ff4b4b;
    color: #ff4b4b;
    margin-top:12px; 
    width: 220px;
    height: 110px;
    resize:none
}
#section-video{
    z-index: 1;
    width: 100%;
    height: 540px;
    border:solid 1px black;
    background:rgba(0,0,0,0.5);
}
#section-video > video{
    position: absolute;
    z-index: -1;
    top:-300px;
    width: 100%;
    height: 1240px;
    box-shadow: 10px 10px 55px 23px rgba(0,0,0,0.75);
}
#texto-presentacion{
    font-size: 150px;
    z-index: 3;
    position: absolute;
    margin-left: calc(50% - 415px);
    margin-top: 50px;
    color: white;
}
#unirse > a > button{
    z-index: 3;
    position: absolute;
    width: 300px;
    height: 50px;
    font-size: 35px;
    margin-left: calc(50% - 150px);
    margin-top: 50px;
    color: #ff4b4b; 
    background: 0;
    border: solid 2px #ff4b4b; 
    border-radius: 58px 58px 58px 58px;
    margin-top: 450px;
}
#presentacion-web{
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #dddddd;
}
#goku{
    float: left;
    width: 700px;
}
#goku > img{
    width: 100%;
    height: 100%;
}
#indice{
    float: left;
    width: calc(100% - 800px);
    height: 400px;
}
#indice > span {
    float: right;
    width: 100%;
    margin-top:15px;
}
#indice > span > i{
    color:#ff4b4b;
    font-size: 100px;
    margin-right: 50px;
}
#indice > span >label{
    color:#ff4b4b;
    font-size: 30px;
}