body{
    font-family: Roboto,Helvetica Neue,sans-serif;
    margin: 0; 
}
*:focus { outline: none; }
#container-header{
    z-index: 9999;
    display: grid;
    position: fixed;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 60px;
    background-color: #2b2b2b;
}

#container-header > div{
    
}
.descripcion{
    text-decoration: none;
    line-height: 60px;
    text-align: center;
    font-size: 90%;
    color: white;
    font-weight: bold;
}
.container-logo{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr ;
}
.logo{
 width: 70px;
 height: 60px;
 margin-left: calc(50% - 35px);
 background-image: url("../img/logo-provisional.png");
 background-size: 100%; 
 background-position: center;  
 background-repeat: no-repeat;
    
}
.login-registro{
    display: grid;
    grid-gap: 10px;
    grid-template-columns:1fr;
    align-items: center;
}
.login-registro > a{
    text-decoration: none;
    line-height: 50px;
    text-align: center;
    background-color: #2b2b2b;
    font-weight: bold;
    font-size: 20;
    color: white;
    width: auto;
    height: 50px;
    border-radius: 10px 10px 10px 10px;
}
.login-registro > a:hover{
    transition: 1s;
    background-color: #4a4a4a;
}
.zona-sesion{
    display: grid;
    grid-gap: 20px;
    grid-template-columns:1fr 1fr 1fr;
}
.zona-sesion > a{
    text-decoration: none;
    margin-top: 10px;
    line-height: 40px;
    text-align: center;
    background-color: #2b2b2b;
    font-weight: bold;
    font-size: 20;
    color: white;
    width: auto;
    height: 40px;
    border-radius: 10px 10px 10px 10px;
}
.zona-sesion form > input{
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    background-color: #2b2b2b;
    font-weight: bold;
    font-size: 20;
    color: white;
    width: auto;
    height: 40px;
    border-radius: 10px 10px 10px 10px;
}
.zona-sesion > a:hover{
    transition: 1s;
    background-color: #4a4a4a;
}
.zona-sesion form > input:hover{
    transition: 1s;
    background-color: #4a4a4a;
}

.return-home{
    display: grid;
    grid-gap: 10px;
    grid-template-columns:1fr;
    align-items: center;
}
.return-home > a{
    text-decoration: none;
    line-height: 50px;
    text-align: center;
    background-color: #2b2b2b;
    font-weight: bold;
    font-size: 40;
    color: white;
    width: auto;
    height: 50px;
    border-radius: 10px 10px 10px 10px;
}
.cierre > i{
    position: relative;
    top: 5px;
    
}
.return-home > a:hover{
    transition: 1s;
    background-color: #4a4a4a;
}
.zona-sesion > i{
    
}
.fa, .fab, .fal, .far, .fas {
    margin-top: 5px;
    
}
.container-1{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
  }
  .container-1 input#search{
    margin-top: 5px;
    width: 300px;
    height: 50px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #262626;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
   
     
    -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -ms-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;
  }
  .container-1 input#search::-webkit-input-placeholder {
    color: #65737e;
 }
  
 .container-1 input#search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;  
 }
  
 .container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;  
 }
  
 .container-1 input#search:-ms-input-placeholder {  
    color: #65737e;  
 }
 .container-1 .icon{
    position: absolute;
    top: 50%;
    left: 1px;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #4f5b66;
  }
  .container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: #ffffff;
  }
  #resultado-busqueda-user{
      position: absolute;
      margin-top:50px;
      width: 300px;
      height: auto;
      background-color: #2b303b;
  }