body{
    font-family: Roboto,Helvetica Neue,sans-serif;
    margin: 0; 
}
*:focus { outline: none; }
#container-header{
    z-index: 9999;
    display: grid;
    position: fixed;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 60px;
    background-color: #2b2b2b;
}

#container-header > div{
    
}
.descripcion{
    text-decoration: none;
    line-height: 60px;
    text-align: center;
    font-size: 90%;
    color: white;
    font-weight: bold;
}
.container-logo{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr ;
}
.logo{
 width: 70px;
 height: 60px;
 margin-left: calc(50% - 35px);
 background-image: url("../img/logo-provisional.png");
 background-size: 100%; 
 background-position: center;  
 background-repeat: no-repeat;
    
}
.login-registro{
    display: grid;
    grid-gap: 10px;
    grid-template-columns:1fr;
    align-items: center;
}
.login-registro > a{
    text-decoration: none;
    line-height: 50px;
    text-align: center;
    background-color: #2b2b2b;
    font-weight: bold;
    font-size: 20;
    color: white;
    width: auto;
    height: 50px;
    border-radius: 10px 10px 10px 10px;
}
.login-registro > a:hover{
    transition: 1s;
    background-color: #4a4a4a;
}
.zona-sesion{
    display: grid;
    grid-gap: 10px;
    grid-template-columns:1fr 1fr;
}
.zona-sesion > a{
    text-decoration: none;
    margin-top: 10px;
    line-height: 40px;
    text-align: center;
    background-color: #2b2b2b;
    font-weight: bold;
    font-size: 20;
    color: white;
    width: auto;
    height: 40px;
    border-radius: 10px 10px 10px 10px;
}
.zona-sesion form > input{
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    background-color: #2b2b2b;
    font-weight: bold;
    font-size: 20;
    color: white;
    width: auto;
    height: 40px;
    border-radius: 10px 10px 10px 10px;
}
.zona-sesion > a:hover{
    transition: 1s;
    background-color: #4a4a4a;
}
.zona-sesion form > input:hover{
    transition: 1s;
    background-color: #4a4a4a;
}

.return-home{
    display: grid;
    grid-gap: 10px;
    grid-template-columns:1fr;
    align-items: center;
}
.return-home > a{
    text-decoration: none;
    line-height: 50px;
    text-align: center;
    background-color: #2b2b2b;
    font-weight: bold;
    font-size: 40;
    color: white;
    width: auto;
    height: 50px;
    border-radius: 10px 10px 10px 10px;
}
.return-home > a:hover{
    transition: 1s;
    background-color: #4a4a4a;
}
.fa, .fab, .fal, .far, .fas {
    margin-top: 5px;
    
}

