.contenedor{
width: 1116px;
height: 183px;
margin: 0 auto;
background: #ecebeb;
float: left;
}
.persona{
border-right: 1px solid;
width: 33.2%;
height: 100%;
float: left;
}
.imagen{
height: 100%;
width: 100px;
float: left;

}
.comentario{
    height:100%;
    width:270.5px;
    float: left;
}
img{
    margin-top: 20px;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #000000;
    -webkit-box-shadow: 7px 10px 21px -1px rgba(0,0,0,0.28);
    -moz-box-shadow: 7px 10px 21px -1px rgba(0,0,0,0.28);
    box-shadow: 7px 10px 21px -1px rgba(0,0,0,0.28);
}