<div id="menu-superior">
    <div id="header-superior" class="banner-top">
        <div class="menu-contacto escapeBold">
            <a href="#">NOSOTROS</a>
            <a href="#">CONTACTO</a>
            <a href="#">TELEFONO</a>
        </div>
    </div>
    <div id="header-inferior" class="banner-bot">
        <div class="menu-principal">
            <div class="logo-casella"><!-- AQUI PONER LOGO CASELLA --></div>
            <div class="menu-primario escape">
               <a href="#">SOCIOS/FINCAS</a>
               <a href="#">PRODUCTOS</a>
               <a href="#">NOTICIAS</a>
            </div>
        </div>  
        <div class="menu-responsive">
            <button id="activar-menu"></button>
            <div class="logo-casella"><!-- AQUI PONER LOGO CASELLA --></div>
        </div>
        </div>
    </div>
</div>  