#cabecera{
position: absolute;
width: 99%;
height: 150px;
}
#titulo{
position: absolute;
font-size: 25;
text-align: center;
width:99%;
height: 30px; 
border:solid gray 1px;
top:200;
}
.img-cabecera1{
   float: left;
   margin-left: 50px;
   width: 300px;
   height: 150px; 
}
.img-cabecera2{
    float: right;
    margin-right: 50px;
    width: 300px;
    height: 150px; 
 }
 input {
     height: 30;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #dedede ;
 }
 form{
     position: absolute;
     left:45;   
     top:300;
 }
 label{
     margin-right: 15px;
     margin-left: 15px;
 }
 .content-form{
     float: left;
     margin-right: 5px;
     border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #dedede ;
 }
 .somb{
     background-color: #dedede;
 }