body{
    background-color: #7694ff;
}
#contenedor-menu{
  position: relative;
  width: 100%;
  border: solid black 3px;
  height: 50px;
  background-color: #254fea;  
}

#contenedor-menu ul{
    position: absolute;
    list-style: none;
    height: 50px;
    width: 600px;
    left: calc(50% - 350px);
}
#contenedor-menu a{
    position: relative;
    text-decoration: none;
    text-align: center;
    float: left;
    margin-top: -10px;
    width: 200px;
    font-size: 30px;
}
.desactived{
    color:white;
}
.actived{
    color:#19328d;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
#contenedor-formulario ul{
    position: absolute;
    list-style: none;
    left: calc(50% - 120px);
}
#contenedor-formulario{
    position: relative;
    height: 500px;
}
#contenedor-listado-fichas{
    position: relative;
    top:50px;
    left: calc(50% - 600px);
    height: auto;
    width: 1200px;
    border:solid black 1px;
}
#listado-fichas li{
    border: solid black 1px;
    margin-bottom: 10px;
}
#listado-fichas strong{
    margin-right: 5px;
    border: solid black 1px;
    }
#titulo-listado{
    text-align: center;
}
#listado-fichas button{
    float: right;
    font-size: 10px;
    text-align: center;
    width: 100px;
    height: 20px;
}

